<div id="header">
  <h2>!! Happy X'Mas !!</h2>
		</div>
<div id="left">
		<div id="image">
	<%=  image_tag("DSC_0656.jpg", alt: "Me") %> 
		</div>
		<p>Your santa didnt get time to make the site better..!!</p>
		<p>Following days question marks will turn into gifts..Open it upon to know where and what your gift is!</P>
</div>
<div id="right">
  <table>
  			<th colspan="3">My gifts</th>
  			<tr>
  				<td><%= link_to image_tag("gift.jpg", alt: "open me !!"),makeUrTrain_path %>
  				</td>
  				
  				<td><%= image_tag("question.jpg", alt: "You have to wait") %></td>
  				<td><%= image_tag("question.jpg", alt: "you have to wait moreeee") %></td>
  			</tr>
  </table>
</div>