<h1>First Gift</h1>
<p>I got this today went i went for a walk,thought i will hande it over to you...!!
  check the agile cubes in your vicinity..!!"
</p>
<p>
  <%= link_to "Go home",root_path %>
</p>